openai
groq
google-generativeai
mistralai

langchain
langchain-openai
langchain-google-genai
langchain-community
langchain-groq
langchain-mistralai

python-dotenv
requests
pydantic
tiktoken

fastapi
uvicorn

streamlit
